mat-card {
  padding: 0;
  margin: 0.3rem;

  mat-card-content {
    display: flex;

    .thumbnail {
      flex: 0 0 40%;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    .track-info {
      flex: 0 0 60%;
      padding: 0.4rem;
      display: flex;
      flex-direction: column;
      h3 {
        margin: 0;
      }
      .buttons {
        padding-right: 1rem;
        display: flex;
        justify-content: flex-end;
        > * {
          flex: 0 0 auto;
          margin: 0 0.2rem;
        }
      }
    }
  }
}
