<div class="card">
  <div class="thumbnail">
    <img [src]="track.thumbnailUrl">
  </div>
  <div class="track-info">
    <h3>{{track.title}}</h3>
    <div><small>{{track.artist}}</small></div>
    <div><small>{{track.duration | minuteSeconds}}</small></div>
    <div>
      <input *ngIf="events.includes('REMOVE')" type="button" value="🗑" (click)="emit('REMOVE', track.id)">
      <input *ngIf="events.includes('NOW')" type="button" value="Now" (click)="emit('NOW', track.url)">
      <input *ngIf="events.includes('NEXT')" type="button" value="Next" (click)="emit('NEXT', track.url)">
      <input *ngIf="events.includes('QUEUE')" type="button" value="Queue" (click)="emit('QUEUE', track.url)">
    </div>
  </div>
</div>
