<mat-card cdkDrag [cdkDragDisabled]="!isDraggable">
  <mat-card-content>
    <div class="thumbnail">
      <img [alt]="track.title" [src]="track.thumbnailUrl">
      <div *ngIf="track.type === 'shelf'">{{track.items.length}}<mat-icon>playlist_play</mat-icon></div>
      <div *ngIf="track.type === 'playlist'">{{track.length}}<mat-icon>playlist_play</mat-icon></div>
    </div>
    <div class="track-info">
      <h3>{{track.title}}</h3>
      <small *ngIf="track.artist">{{track.artist}}</small>
      <small *ngIf="track.duration">{{track.duration | minuteSeconds}}</small>
      <div class="buttons">
        <button mat-icon-button *ngIf="isMobile && isDraggable" cdkDragHandle>
          <mat-icon>drag_handle</mat-icon>
        </button>
        <button mat-icon-button *ngIf="events.includes('REMOVE')" (click)="emit('REMOVE', track)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-stroked-button *ngIf="events.includes('BROWSE') && (track.type === 'shelf' || track.type === 'playlist')" (click)="emit('BROWSE', track)">Browse</button>
        <button mat-stroked-button *ngIf="events.includes('RADIO') && (track.type === 'video')" (click)="emit('RADIO', track)">Radio</button>
        <button mat-stroked-button *ngIf="events.includes('NOW')" (click)="emit('NOW', track)">Now</button>
        <button mat-stroked-button *ngIf="events.includes('NEXT')" (click)="emit('NEXT', track)">Next</button>
        <button mat-stroked-button *ngIf="events.includes('QUEUE')" (click)="emit('QUEUE', track)">Queue</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
