/* You can add global styles to this file, and also import other style files */
body, html, app-root {
  width: 100%;
  height: 100%;
}

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

div {
  scrollbar-color: #f1f1f1;
  scrollbar-width: thin;
}

snack-bar-container {
  &.error {
    background: red;
    color: white;
  }
}

::-webkit-scrollbar {
  width: 0.1rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.shadow-bottom {
  box-shadow: 0 0.4rem 0.2rem -0.05rem rgba(0, 0, 0, 0.1);
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
}

.mat-tab-body-wrapper, .mat-tab-body-content, mat-tab-body, mat-tab-header, mat-tab-group {
  width: 100% !important;
  max-width: 100% !important;
  overflow: hidden !important;
}

