/* You can add global styles to this file, and also import other style files */
body, html, app-root {
  width: 100%;
  height: 100%;
}
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

snack-bar-container {
  &.error {
    background: red;
    color: white;
  }
}
