compile = "npm i && npm run build && wget -O client.zip https://github.com/AlexanderWyss/discord-bot-node/releases/download/2.0.0-SNAPSHOT/client.zip && unzip -o client.zip -d ./dist/client/"
run = "node ./bin/www"

[packager]
language = "nodejs"

[packager.features]
enabledForHosting = false
packageSearch = false
guessImports = false

[nix]
channel = "stable-22_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]
