#title-container {
  display: flex;
  margin-bottom: 1.5rem;
  #title {
    margin: 0.3rem 0 0 0.2rem;
  }
  button {
    margin-left: 0.2rem;
  }
  .end {
    margin-left: auto;
  }
}

#container {
  display: flex;

  .component {
    flex: 1 1 50%;
  }

  #player {
    padding: 0;
    margin: 0.3rem;

    mat-card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      > * {
        flex: 1 1 auto;
        text-align: center;
      }

      img {
        max-height: 100%;
        max-width: 100%;
      }

      h3 {
        margin: 0;
      }

      .buttons {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;

        > * {
          flex: 0 0 auto;
        }

        .filler {
          flex-grow: 1;
        }

        .dummy {
          visibility: hidden;
        }

        .disabled {
          color: darkgray;
        }
      }
    }
  }

  .spinner-container {
    display: flex;
    justify-content: center;
  }

  #url-bar-container > * {
    margin: 0.2rem;
  }
}

