<h2 id="title">Player {{guild}}</h2>
<div id="container">
  <div class="component">
    <div id="player">
      <img [src]="queueInfo?.currentTrack?.thumbnailUrl">
      <h3>{{queueInfo?.currentTrack?.title}}</h3>
      <small>{{queueInfo?.currentTrack?.artist}}</small>
      <div>
        <span class="button" (click)="skipBack()">⏮</span>
        <span class="button" (click)="togglePause()">⏯</span>
        <span class="button" (click)="skip()">⏭</span>
        <small>{{queueInfo?.currentTrack?.duration | minuteSeconds}}</small>
        <span class="button" (click)="volumeDown()">🔉</span>
        <span class="button" (click)="volumeUp()">🔊</span>
      </div>
    </div>
    <div id="list" *ngFor="let track of queueInfo?.tracks">
      <app-track-info [track]="track" [events]="['REMOVE']" (event)="trackInfoEvent($event)"></app-track-info>
    </div>
  </div>
  <div class="component">
    <div id="url-bar-container">
      <input type="text" [(ngModel)]="url" placeholder="url / query" (keyup.enter)="enter()"
             (click)="$event.target.select()">
      <input type="button" value="Search" (click)="search()">
      <input type="button" value="Now" (click)="now()">
      <input type="button" value="Next" (click)="next()">
      <input type="button" value="Queue" (click)="queue()">
    </div>
    <div *ngIf="loading"><img src="assets/loading.gif"></div>
    <div *ngIf="!loading">
      <div *ngFor="let track of searchResult">
        <app-track-info [track]="track" [events]="['NOW', 'NEXT', 'QUEUE']"
                        (event)="trackInfoEvent($event)"></app-track-info>
      </div>
    </div>
  </div>
</div>
