<div id="title-container">
  <img *ngIf="guild?.icon" [src]="guild?.icon" alt="guild-icon">
  <h1 id="title">{{guild?.name}}</h1>
  <mat-icon class="end">{{isLightMode ? "light_mode" : "dark_mode"}}</mat-icon>
  <mat-slide-toggle (change)="toggleLightMode()" [(ngModel)]="isLightMode" color="primary">
  </mat-slide-toggle>
  <button mat-stroked-button (click)="channels()">Channels</button>
  <button mat-stroked-button (click)="leave()">Leave</button>
  <button mat-stroked-button (click)="bookmarkTools()">Bookmark Tools</button>
</div>
<div *ngIf="!isMobile()" class="container desktop">
  <app-queue cdkScrollable class="component" [searchResult]="searchResult"></app-queue>
  <app-search cdkScrollable class="component" (searchResultChange)="searchResult = $event"></app-search>
</div>
<div *ngIf="isMobile()" class="container mobile">
  <mat-tab-group>
    <mat-tab label="Player">
      <app-queue cdkScrollable class="component" [searchResult]="searchResult"></app-queue>
    </mat-tab>
    <mat-tab label="Search">
      <app-search cdkScrollable class="component" (searchResultChange)="searchResult = $event"></app-search>
    </mat-tab>
  </mat-tab-group>
</div>
