#title-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;

  img {
    height: 37px;
    width: 37px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
  }

  #title {
    margin: 0.3rem 0 0 0.2rem;
  }

  button {
    margin-left: 0.2rem;
  }

  .end {
    margin-left: auto;
  }
}

.container {
  height: calc(100% - 2rem);
  max-height: calc(100% - 2rem);
  max-width: 100%;

  .component {
    height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;
  }
}

mat-tab-group {
  max-height: 100%;
}

@media screen and (max-width: 700px) {
  .desktop {
    display: none;
  }

  .container {
    height: calc(100% - 5.5rem);
    max-height: calc(100% - 5.5rem);
  }
}

@media screen and (min-width: 701px) {
  .mobile {
    display: none !important;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    padding: 0.1rem;

    .component {
      flex: 1 1 50%;
    }
  }
}

