<div id="imageContainer">
  <img [src]="queueInfo?.currentTrack?.thumbnailUrl">
</div>
<div id="currentTrackInfo" class="shadow-bottom sticky-top">
  <h3>{{queueInfo?.currentTrack?.title}}</h3>
  <small>{{queueInfo?.currentTrack?.artist}}</small>
  <small>{{queueInfo?.currentTrack?.position | minuteSeconds}}
    /{{queueInfo?.currentTrack?.duration | minuteSeconds}}</small>
  <div>
    <mat-slider class="seekSlider" min="0"
                [max]="queueInfo?.currentTrack?.duration != null ? queueInfo.currentTrack.duration : 0"
                [(ngModel)]="queueInfo?.currentTrack.position"
                (change)="seek($event)" (input)="whileSeeking($event.value)" color="primary"></mat-slider>
  </div>
  <div class="buttons">
    <button mat-icon-button matRipple #volumeButtonRipple="matRipple" (click)="toggleVolumeDisplay()" (mouseover)="volumeHover()" (mouseout)="volumeHoverEnd()"
            [disableRipple]="true"
            [matRippleDisabled]="true"
            cdkOverlayOrigin
            #volumeButton="cdkOverlayOrigin">
      <mat-icon>volume_up</mat-icon>
    </button>
    <button mat-icon-button class="dummy">
    </button>
    <div class="filler"></div>
    <button mat-icon-button (click)="restart()">
      <mat-icon>restart_alt</mat-icon>
    </button>
    <button mat-icon-button (click)="skipBack()">
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button mat-icon-button (click)="togglePause()">
      <mat-icon>{{queueInfo?.currentTrack?.paused ? 'play_arrow' : 'pause'}}</mat-icon>
    </button>
    <button mat-icon-button (click)="skip()">
      <mat-icon>skip_next</mat-icon>
    </button>
    <div class="filler"></div>
    <button mat-icon-button (click)="toggleRepeat()">
      <mat-icon [class]="queueInfo?.repeat ? '' : 'disabled'">repeat</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleAutoRadio()">
      <mat-icon [class]="queueInfo?.autoRadio ? '' : 'disabled'">radio-outline</mat-icon>
    </button>
    <button mat-icon-button (click)="clear()">
      <mat-icon>delete_sweep</mat-icon>
    </button>
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Previous</mat-panel-title>
    </mat-expansion-panel-header>
    <div cdkDropList id="previousList" #previousList="cdkDropList" [cdkDropListData]="queueInfo?.previousTracks"
         [cdkDropListConnectedTo]="'queueList'" (cdkDropListDropped)="drop($event)">
      <app-track-info *ngFor="let track of queueInfo?.previousTracks" [track]="track" [events]="['REMOVE']"
                      (event)="trackInfoEvent($event)"></app-track-info>
    </div>
  </mat-expansion-panel>
</div>
<div cdkDropList id="queueList" #queueList="cdkDropList" [cdkDropListData]="queueInfo?.tracks"
     [cdkDropListConnectedTo]="'previousList'" (cdkDropListDropped)="drop($event)">
  <app-track-info *ngFor="let track of queueInfo?.tracks" [track]="track" [events]="['REMOVE']"
                  (event)="trackInfoEvent($event)"></app-track-info>
</div>

<ng-template cdkConnectedOverlay
             [cdkConnectedOverlayOrigin]="volumeButton"
             [cdkConnectedOverlayOpen]="volumeOpenHover || volumeOpenToggled"
             [cdkConnectedOverlayPositions]="[{
                 originX: 'center',
                 originY: 'top',
                 overlayX: 'center',
                 overlayY: 'bottom'
                 }]">
  <mat-card class="volumeSlider" (mouseover)="volumeHover()" (mouseout)="volumeHoverEnd()">
    <mat-slider vertical min="0" max="150" thumbLabel
                [(ngModel)]="queueInfo.currentTrack.volume"
                (change)="setVolume($event.value)" (input)="whileVolumeChange($event.value)"
                color="primary"></mat-slider>
  </mat-card>
</ng-template>
